header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffa07a;
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
       
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 1800px;
    margin: 0 auto;

}

li {
    list-style-type: none;
}
