

body {
    font-family: "rockwell", monospace;

}


h1 {
    font-family: "rockwell";
    font-size: 70px;
    font-weight: bolder;
    position: absolute;
}

.about {
    background-color:#ffa07a;
    font-size: 2rem;
}

.services {
    background-color:#ffa07a;
    font-size: 2rem;
   
}
img {
    width: 100%;
}
